.cinema-content {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  height: 90vh;
  border-radius: 12px;
  box-shadow: 3 3 3px rgba(0, 0, 0, 0.2);
  gap: 30px;
}
.cinema-content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
.cinema-content-left span {
  color: blue;
  text-decoration: solid underline #fff;
}
/* code pháº§n content-cinema-right */
.cinema-content-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.cinema-content-right h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  display: block;
}
.card-cinema {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  margin-left: 20px;
}
h1 {
  color: #fff;
}
.row {
  display: flex;
  gap: 130px;
  padding-bottom: 30px;
}

.row img {
  width: 200%;
  object-fit: cover;
    border-radius: 20px;
}

.card-cinema:hover {
    transform: scale(1.05);
  transition: transform 0.3s ease;
  transform: translateY(-6px);
}